Library_bot.json
{
  "name": "Library bot",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -920,
        0
      ],
      "id": "836282ed-dc85-4953-bcca-121e1c47c628",
      "name": "When chat message received",
      "webhookId": "17708404-761c-4ebc-b9dd-583b9881bc73"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -880,
        200
      ],
      "id": "b88f4222-3d4d-40c8-8b69-d52fbef8015b",
      "name": "Google Gemini Chat Model",
      "notesInFlow": true,
      "credentials": {
        "googlePalmApi": {
          "id": "wgk3pkLwZViKtuSi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f2d27fa2-6c61-4a88-8501-4330baa2f0a7",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Sorry, I couldn’t find the answer",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        0
      ],
      "id": "8758458b-f63f-44f0-8297-f1aecc4028fb",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "khurrambhutto071@gmail.com",
        "subject": "Customer Query",
        "message": "={{ $('When chat message received').item.json.sessionId }}\nMessage:\n{{ $('When chat message received').item.json.chatInput }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -20,
        -60
      ],
      "id": "f9c81d0a-574b-41e6-999b-32bb0a7b09dc",
      "name": "Gmail",
      "webhookId": "4a2bd146-4d5a-4344-8ff8-e95eac7fe635",
      "credentials": {
        "gmailOAuth2": {
          "id": "eqOkUuKgtV4r9mHO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an AI assistant for CAG, answering questions based on the following FAQs only. If the answer is not covered in the FAQs, respond with: \"Sorry, I couldn’t find the answer. A human will contact you shortly.\"  \n----\nDemo Library Website - Frequently Asked Questions (FAQs)\nGeneral & Account Management\nQ: Is this a real library? Can I borrow actual physical books?\nA: This is a demonstration website designed to showcase the features and functionality of a modern library system. While you can explore, search, and simulate borrowing digital items, no physical items will be dispatched, and user data is for demonstration purposes only and may be periodically reset.\nQ: How do I create an account?\nA: Click the \"Sign Up\" or \"Register\" link, usually located in the top-right corner of the homepage. You'll need to provide a username, a valid email address (for demo purposes, you can use testuser@example.com), and create a secure password (e.g., at least 8 characters, including an uppercase letter, a lowercase letter, and a number).\nQ: I forgot my password. What should I do?\nA: Click the \"Login\" button, then select the \"Forgot Password?\" link. Enter the email address you registered with. A password reset link will be (notionally) sent to your email. For this demo, password reset functionality might be simulated, or you may be prompted to contact demo support.\nQ: How do I update my personal information (e.g., email, name)?\nA: Once logged in, navigate to \"My Account\" or \"Profile\" (usually accessible from a dropdown under your username). You should find options to edit your profile details there. Remember to save any changes.\nQ: What is a \"Library Card Number\" and do I need one for this demo?\nA: In a real library, a library card number uniquely identifies you. For this demo, a fictional card number (e.g., DEMO123456789) might be automatically assigned upon registration, or you might be asked to create one. This helps simulate real-world library card usage.\nQ: Is my data private on this demo site?\nA: While we aim to simulate privacy features, please remember this is a demo environment. Do not use real sensitive personal information. All data entered is for testing and demonstration purposes and may be visible to demo administrators or reset without notice.\nSearching & Browsing\nQ: How do I search for a book or author?\nA: Use the main search bar located prominently on the homepage or at the top of most pages. You can enter keywords, titles, author names, or even ISBNs.\nQ: Can I perform an advanced search?\nA: Yes, look for an \"Advanced Search\" link near the main search bar or on the search results page. This typically allows you to specify fields like title, author, subject, publication year, format (e.g., ebook, audiobook), and language.\nQ: How can I filter search results?\nA: On the search results page, you'll usually find filter options on the side (left or right). Common filters include format (ebook, audiobook, e-magazine), availability (available now), publication date, genre, language, and audience (adult, teen, children).\nQ: Can I browse by genre or new arrivals?\nA: Yes, many library websites, including this demo, feature sections like \"Browse by Genre,\" \"New Arrivals,\" \"Bestsellers,\" or \"Staff Picks\" directly on the homepage or in a dedicated \"Explore\" section.\nQ: What kind of materials can I find on this demo site?\nA: This demo site primarily showcases digital materials such as ebooks (EPUB, PDF, Kindle-compatible formats), audiobooks (MP3, M4B), and possibly e-magazines or links to simulated databases.\nBorrowing, Renewing & Returning (Digital)\nQ: How do I borrow an ebook or audiobook?\nA: Once you find an item you're interested in, click on its title or cover to go to its details page. If available, you'll see a \"Borrow\" or \"Checkout\" button. Click it to add the item to your \"Checked Out Items\" in your account.\nQ: How long is the loan period for digital items?\nA: For this demo, the standard loan period is typically set to 14 or 21 days for ebooks and audiobooks. This will be displayed when you borrow the item.\nQ: How many items can I borrow at once?\nA: The demo borrowing limit is usually set to something like 5-10 digital items at a time. This helps simulate real library lending limits.\nQ: How do I read/listen to a borrowed item?\nA: Borrowed ebooks can often be read directly in your browser via an integrated e-reader, or you might be given an option to download them in a specific format (e.g., EPUB, PDF) for use with compatible e-reader apps (like Adobe Digital Editions, Libby/OverDrive, or Kindle app). Audiobooks can similarly be streamed or downloaded.\nQ: Can I return a digital item early?\nA: Yes. Go to your \"My Account\" > \"Checked Out Items\" section. You should see an option to \"Return\" next to each borrowed item. Returning items early makes them available for other demo users.\nQ: What happens if I don't return a digital item on time?\nA: Digital items are typically \"auto-returned.\" This means access to the item will automatically expire from your account once the loan period ends. There are no overdue fines for digital items in this demo.\nQ: Can I renew a borrowed digital item?\nA: If an item has no holds placed on it by other demo users, you may see a \"Renew\" option appear in your \"Checked Out Items\" a few days before it's due. Renewing typically extends the loan by another standard loan period (e.g., 14 or 21 days).\nHolds & Requests (Digital)\nQ: What if an ebook or audiobook I want is already checked out by another demo user?\nA: If all available digital copies are currently borrowed, you should see an option to \"Place Hold\" or \"Request Item.\" This adds you to a waiting list for the item.\nQ: How will I know when my hold is available?\nA: In a real system, you'd receive an email notification. For this demo, you might see a notification in your account dashboard, or you may need to periodically check \"My Account\" > \"Holds\" to see if its status has changed to \"Available for Checkout.\"\nQ: How long do I have to check out a hold once it becomes available?\nA: Typically, you have a limited window (e.g., 48-72 hours) to check out a hold once it becomes available. If you don't check it out within this timeframe, the hold may be passed to the next demo user in the queue.\nLists, Ratings & Reviews\nQ: Can I create my own lists of books (e.g., \"To Read\")?\nA: Yes, many library systems allow users to create and manage personal lists. Look for an \"Add to List\" or \"Save to List\" button on item detail pages. You can then manage these lists from your \"My Account\" section.\nQ: Can I rate books or write reviews?\nA: Some demo sites include functionality to rate items (e.g., 1-5 stars) and write short reviews. These are usually visible to other demo users and help simulate community interaction. Remember to keep reviews appropriate and constructive.\nTechnical & Support\nQ: The website seems slow or isn't loading correctly. What should I do?\nA: First, try clearing your browser's cache and cookies, or try a different web browser. If the problem persists, it might be an issue with the demo server. Since this is a demo, there might be occasional maintenance or performance quirks.\nQ: Is this website mobile-friendly?\nA: Yes, this demo website is designed to be responsive and should adapt to various screen sizes, including smartphones and tablets, for a good user experience.\nQ: Which web browsers are supported?\nA: The website is optimized for modern web browsers such as the latest versions of Google Chrome, Mozilla Firefox, Apple Safari, and Microsoft Edge. Older browsers might experience compatibility issues.\nQ: Who do I contact if I find a bug or have a suggestion for the demo?\nA: For a demo project, there's usually a designated contact person or a \"Feedback\" link. If you're using this for a class project, report issues to your instructor or the project lead.\nDemo-Specific\nQ: Will my borrowing history and lists be saved permanently?\nA: As this is a demonstration site, user data, including borrowing history and saved lists, may be periodically reset without prior notice to ensure a clean testing environment for all users. Do not rely on it for permanent storage.\nQ: Can I use real financial information for any simulated \"Pay Fines\" or \"Donate\" features?\nA: Absolutely not. Any features involving payments are purely for demonstration. Do not enter any real credit card numbers or financial details. The system will use dummy data or simulated payment gateways.\nQ: What is the main purpose of this demo library website?\nA: This demo is designed to showcase the potential user interface, features (like search, digital borrowing, account management), and overall user experience of a web-based library system. It's a tool for learning, testing, and gathering feedback on library software design."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -700,
        0
      ],
      "id": "6802ef99-5d70-41eb-a9bc-f238a1a3a863",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -552,
        220
      ],
      "id": "6c3e65ff-886d-49f5-9945-c6418e992bde",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {
          "responseKey": "={{ $json.output }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        -180,
        180
      ],
      "id": "f7d7be19-8d8f-4fe4-818f-c264f7179301",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5cecb06a-1a1d-4180-b3e4-f94ba932a07d",
  "meta": {
    "instanceId": "3b69f7cfc398ce70dafe493e8cf0eb7b7a69b56d3e91fd3cc64f3704b03e5667"
  },
  "id": "LY4vfjNd0yiKCiR5",
  "tags": []
}